
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

body.dark {
    background-color: black;
    color: white;
}

img {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 1rem auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.header img {
    width: 150px;
    border-radius: 5px;
}

.toggleTheme {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    width: 70px;
    height: 40px;
    border: 1px solid rgb(244, 227, 227);
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px;
    position: relative;
    height: 20px;
    width: 40px;
    transform: scale(1.5);
}

.dark .label {
    background-color: #fffbfb;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px;
    position: relative;
    height: 20px;
    width: 40px;
    transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2.5px;
    left: 1x;
    height: 14px;
    width: 14px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.dark .label .ball {
    background-color: #979191;
    border-radius: 50%;
    position: absolute;
    top: 2.5px;
    left: -1px;
    height: 14px;
    width: 14px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.dark body {
    background-color: #111;
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 2rem;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid rgb(244, 227, 227);
}

.filter_item {
    text-align: center;
    padding: 0.5rem;
    font-size: 1.2rem;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

.filter_item:hover {
    background-color: rgb(226, 220, 220);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h1 {
    padding: 1rem;
    margin: 0 0 1rem 0;
    text-align: center;
    font-weight: 500;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
    gap: 1.5rem;
}

.card {
    box-shadow: 0 4px 14px hsl(355deg 25%  15% / 10%);
    padding: 15px;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.4s;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.card h2 {
    text-align: center;
    margin: 1rem 0;
}

.post_description {
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post_date {
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem 0 0 0;
    text-transform: uppercase;
}

.post_views {
    font-size: 1.2rem;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #f1c40f;
    padding: 20px 0;
    margin: 150px 0 0 0;
    font-weight: 550;
    border-radius: 5px;
    font-size: 1.3rem;
} 

/* responsividade */
@media screen and (max-width: 700px) {
    .filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 80%;
        margin: 2rem;
        padding: 1rem;
        border-radius: 5px;
        border: 1px solid rgb(244, 227, 227); 
    }
}